<div class="card text-center mb-3">
    <div class="card-header">{{ member.last_name }} {{ member.first_name }}</div>
    {% for image in member.images.all|slice:":1" %}
        <img src="{{ MEDIA_URL }}{{ image.url }}" alt="Image of {{ member.last_name }} {{ member.first_name }}" />
    {% endfor %}

    <div class="card-body">
        Experience: {{ member.experience }} {% if member.experience > 1 %}days {% else %}day {% endif %}
    </div>

    <ul class="list-group list-group-flush">
    {% for skill in member.member_skills.all %}
        <li class="list-group-item">{{ skill.skill }} - {{ skill.level }}</li>
    {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <div class="card-footer">
        <a href="{% url 'member:member_detail' member.id %}">Details</a>
    </div>
    {% endif %}
</div>